* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    
    color: white;
    background-image: url("https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: auto; 
    background-repeat: no-repeat;
    background-position: center;
    
}

header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

header h1 {
    font-size: 3em;
}

main {
    display: flex;
    align-items: center;
    height: 150px;
    justify-content: flex-start;
    flex-direction: column;
}

#buscarBtn {
    padding: 15px;
    background-color: rgb(194, 185, 247);
    border: none;
    border-radius: 15px;
    color: rgb(0, 68, 68);
}

#cityInput {
    padding: 10px;
}

#iconoSalida, h4 {
    display: inline;
}

#mainTitle {
    background-color: rgb(56, 85, 92);
    width: 800px;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#mainBody {
    background-color: rgba(255, 255, 255, 0.13);
    width: 800px;
    
    
}

#mainBody h4 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: 100;
    font-style: italic;
    position: absolute;
    margin-top: 35px;
    
}

#timeDateBox {
    background-color: rgb(46, 46, 46);
    width: 200px;
    color: white;
    float: right;
    padding: 5px 0 5px 10px;
    
}

.resultBox {
    padding-left: 35px ;
    display: inline;
}