#backgroundImage2 {
    background-image: url("https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    transition: opacity 1s;    
}

.bgImage {
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.bar {
    fill: #222222;
}

.bar:hover {
    fill: #474747;
}

#forecastXS {
    width: 248px;
    height: 100px;
    overflow: scroll;
}